@model List<Venu.Models.Models.Catogory>
<partial name="_Notificatios" />
<div class=" card shadow border-0 mt-4 position-center">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white p-0">
                    Create Catogory
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 clast="text-primary"></h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Catogory" asp-action="Create" class="btn btn-primary">
                CREATE NEW LIST<i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>
                Catagory ID
            </th>
            <th>
                Catogory Name
            </th>

            <th>
                Display Order
            </th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@obj.id</td>
                <td>@obj.Name</td>

                <td>@obj.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Catogory" asp-action="Edit" asp-route-Id="@obj.id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-controller="Catogory" asp-action="Delete" asp-route-Id="@obj.id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>

                    </div>
                </td>
            </tr>



        }
    </tbody>
</table>
